@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 300vh;
}
.container{
    background-color: rgb(26, 25, 25);
    border: 4px solid gray;
    border-radius: 10px;
    width: 380px;
    height: auto;
    margin-bottom: 25px;
}

.titulo{

    font: bolder 2.2em Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 5px;
}

#imagem{
    width: 320px;
    height: 320px;
    display: block;
    padding-top: 5px;
    margin: auto;
}

.dados{
    width: 320px;
    height: 35px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;

    position: relative;

}

.dados > p{
    text-align: center;
    font: 16px Arial, Helvetica, sans-serif;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*mensagem do dia*/
@font-face {
    font-family: 'Typewriter';
    src: url('../fonts/elegant_typewriter_regular.ttf') format('truetype');
}
.papel{
    width: 550px;
    height: 390px;
    background: url('..//imagens/papel.jpg');
    background-size: cover;
    border-radius: 0px 10px 0px 10px;
    margin-bottom: 25px;
}

#titulo{
    padding: 15px;
    font: 40px 'Typewriter';
}

#data{
    padding-left: 15px;
    font: 20px 'Typewriter';
}

#txt{
    margin-top: 20px;
    width: 370px;
    font: 30px 'Typewriter';
    position: relative;
    left: 25%;
}

#autor{
    margin-top: 20px;
    position: relative;
    left: 60%;
    font: 20px 'Typewriter';
}
/*Meses do ano*/
#fundo{
    background: whitesmoke;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    width: 450px;
    margin-bottom: 25px;
}
#titulo_2{
    font: bold 14pt Arial, Verdana, sans-serif;
    padding-left: 20px;
    padding-top: 15px;
}
#meses{
    padding-bottom: 25px;
    padding-left: 20px;
}

/*Cartão de jogo*/
#cartao{
    width: 400px;
    height: 350px;
    background: url('../imagens/assassins_creed_4_black_flag_game-wide-600x375.jpg');
    background-size: cover;
    border-radius:  10px;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#titulo_jogo{
    padding: 20px;
    font: bold 30px Arial;
}

.entrada{
    background-color: white;
    width: 350px;
    height: 35px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-bottom: 25px;
    margin-top: 10px;
    position: relative;
}

#cartao label{
    font: bold 13px Arial;
    color: black;
    position: relative;
    left: 6%;
}

.texto_jogo{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);

    padding-left: 15px;
    font: 16px Arial;
}