@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
}
/*#0B132B #1C2541 #3A506B #00A9A5*/
body{
    background: url('imagens/fundo.jpg');
    background-size: cover;
}
#container{
    background: linear-gradient(-45deg, #0DDE3D,#009121);
    width: 450px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #00912281;
    position: absolute;
    top: 50%;
    left:3%;
    transform: translate(0%, -50%);
}

#titulo{
    padding-left: 30px;
    padding-top: 30px;
    color: white;
    font-size: 2.8em;
    font-weight: lighter;
}

#formulario{
    margin: auto;
    width: 350px;
}

.entrada_dados label{
    display: block;
    margin-top: 10px;
    color: white;
    font: normal 1.2em 'Roboto', sans-serif;
}
.entrada_dados input:not(#iresultado){
    width: 350px;
    height: 35px;
    padding-left: 10px;
    font-size: 15pt;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
.entrada_dados #iresultado{
    height: 36px;
    width: 60px;
    background-color: #02deaebb;
}
.entrada_dados #iresultado, #aviso{
    margin-top: 20px;
}
.entrada_dados #iresultado::placeholder{
    text-align: center;
    font-size: 18px;
}
.entrada_dados #btnEnviar, #btnLimpar{
    margin-top: 10px;
    padding: 8px;
    font: normal 16px Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.entrada_dados > span button:hover{
    background-color: #009121;
    color: white;  
}

#ficha{
    width: 350px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
#ficha #id{
    font: bold 1.6em Arial, Helvetica, sans-serif;
    height: 50px;
    padding: 10px;
}
.pessoa{
    width: 350px;
    height: 30px;
}
.pessoa:nth-child(odd){
    background-color: white;
}
.pessoa:nth-child(even){
    background-color: #009121;
}