@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    background-color: aqua;
}

.ambiente{
    background-color: blue;
    max-width: 450px;
    margin: auto;
}

#titulo{
    font: bold 22pt Arial;
    padding: 20px;
}

#formulario{
    background-color: red;
}

