@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*#0B132B #1C2541 #3A506B #00A9A5*/
body{
    background: #3A506B;
}
#container{
    background: #1C2541;
    width: 450px;
    margin: auto;
}

#titulo{
    padding: 20px;
}

#formulario{

}