@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container h1{
    text-align: center;
    margin-top: 30px;
}

#conteudo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centro{
    text-align: center;
}

#numSorteado{
    background-color: #D31919;
    color: white;
    height: 7vh;
    width: 9vw;
    margin: auto;
    border-radius: 50%;
    font-size: 2.5em;
}

.centro > #btnSortear, #btnReset{
    width: 30vw;
    max-width: 220px;
    height: 5vh;
    margin-bottom: 5px;
    background-color: #D31919;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.centro > #btnSortear:hover, #btnReset:hover{
    background-color: #f73e3e;
    font-weight: bold;
}

@keyframes mover {
    0%{
        transform: translateY(0px);
        transform: rotate(45deg);
        opacity: 0;
    }
    50%{
        transform: scale(50%);
    }
    100%{
        transform: translateY(-15px);
        transform: rotate(-45deg);
        opacity: 1;
    }
}

@keyframes aparecer {
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
}

.animacao{
    animation: mover .5s infinite alternate;
}

.aparecer{
    animation: aparecer 1.5s ease-in;
}